*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

wholepage{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

wholepage > overskrift{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 200, 0);

    height: 40vh;
}
wholepage > indhold{
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    height: 700vh;
    color: rgb(255, 226, 240);

}
wholepage > bund{
    display: flex;
    justify-content: center;
    background-color: rgb(90, 156, 90);
    height: 10vh;
}