*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

wholepage{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

wholepage > overskrift{
    display: flex;
    justify-content: center;
    background-color: rgb(249, 202, 35);

    height: 40vh;
}
wholepage > indhold{
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    height: 700vh;
    color: rgb(255, 226, 240);

}
wholepage > bund{
    display: flex;
    justify-content: center;
    background-color: rgb(90, 156, 90);
    height: 10vh;
}
/*ID'S*/
#progress-bar {
    /*CSS property*/
    --scrollAmount: 0%;

    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    width: var(--scrollAmount);
    height: 10px;
    position: fixed;
    top: 0;

}