* {
    box-sizing: border-box;
    font-family: "Share", cursive;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 30px;
    font-weight:400;
}

body {
    margin: 0;
    overflow-x:hidden;
    width: 98vw;
}

::-webkit-scrollbar {
    display: none;
}

p {
    justify-content: center;
    width: 50vw;
    color: rgb(0, 0, 0);
    /*text-shadow: 2px 2px #220303;*/
    z-index: 2;
    margin: 10px;
}

button{
    position:relative;
    top: 5vh;
    left: 40vw;
    background-color: #f8f8f5d2;
    border: none;
    z-index: 10;
    border-radius: 10px;
}
button:hover{
    background-color: #000000;
    color: white;
    cursor: pointer;
}

wholepage {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: center;
}

overskrift {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/1391A/production/_108345108_26a760ca-791a-4d61-b915-3d89030aac5e.jpg.webp) !important;

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

overskrift > .hero-text {
    color: whitesmoke;
    justify-content: center;
    width: 60vw;

    font-weight: bolder;

    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 110px;
    margin: 40px 0;
    text-shadow: 4px 4px #220303;
}

h2 {
    font-size: 40px;
    margin: 40px 0;
    line-height: 7vh;
}
h3 {
    font-size: 30px;
}

/*NYE ID'S TIL OMSTRUKTURERING*/
#container{
    display: flex;
    align-items: flex-end;
    /*border: solid;*/
  }

#pause{
width: 49vw;
margin: auto;

height: 700px;
/*border: solid;*/
}

#lillepause{
width: 49vw;
margin: auto;
    
height: 200px;
/*border: solid;*/
}

.infoboks{
    left: 0vw;
    position: relative;
    background-image: url(https://cdn.discordapp.com/attachments/916289339057651742/1050128260127789066/image.png);
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 800px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-top: 0;
    box-shadow: 10px 10px;
}

.active{
    background-image: url(https://cdn.discordapp.com/attachments/916289339057651742/1050128260127789066/image.png);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 10px 0px;
}
.infoboks:hover{
    color: #2c2c2c;
}

.infoboks:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(0, 0, 0);
    float: center;
    margin-left: 5px;
    }

    .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

.infoindhold{
    display: flex;
    max-height: 0px;
    width: 800px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    /*background-color: #e1d070;*/
    background-image: url(https://cdn.discordapp.com/attachments/916289339057651742/1050128260127789066/image.png);
    text-align: center;
    font-size: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 10px 10px;
}
.infoindhold > p{
    width: 800px;
    align-items: center;
    left: 100px;
    /*text-shadow: 2px 2px #220303;*/
    z-index: 2;
    margin: 0px;
    padding: 0px 10px 10px 10px;

}

#wrapper {
width: 20vw;
height: 900px;

display: flex;
justify-content: center;
/*border: solid;*/

}

#wrapper2{
width: 40vw;
height: 600px;
/*border: solid;*/

}


#wrapper3{
width: 40vw;

margin: auto;
height: auto;
/*border: solid;*/

}

#wrapper4 {
width: 40vw;
margin: auto;

height: 500px;
    
display: flex;
justify-content: center;
/*border: solid;*/
}

#sticky {
position: sticky;

width: 100px;
height: 100px;

top: 50vh;

margin-bottom: 5vh;

display: flex;
justify-content: center;
align-items: center;
/*border: solid;*/
}

#sticky3 {
    position: sticky;
    
    width: 100px;
    height: 100px;
    
    top: 52vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    }

  #sticky2 {
    position: sticky;
    
    top: 40vh;
    margin: auto;

    display: flex;

    background-color: #f8f8f5d2;
    border-radius: 10px;
    
}

#stickybund {
    position: sticky;

    width: 100px;
    height: 100px;
    
    top: 50vh;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}


wholepage > indhold{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1rem;
    text-align: center;

    /*background-image: url(/img/Baggrundsbilleder/bg4.png) !important; */

    /*background-color: rgb(176, 191, 148);*/
    /*background-color: rgb(16, 16, 16);*/
    background-image: url("//s.worldofsolitaire.com/texture/0/greenfelt.jpg");
    
   /* color: rgb(255, 255, 255);*/
}

wholepage > bund{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #f50909;
    height: 12vh;
}
bund > p{
    justify-content: center;
    width: auto;
    color: whitesmoke;
}

/*Animationer*/
#mont{
    transition: all 1s ease-in-out;
    position: relative;
    z-index: -1;
    left: 25vw;
}

#mobil{
    transition: all 1s ease-in-out;
    transform: scale(100%);
    position: relative; 
    z-index: -1; 
    right: 39vw;
}

#kantine{
    transition: all 1s ease-in-out;
    position: relative; 
    z-index: -1; 
    right: 11vw;
}

#til4{
    transition: all 1s ease-in-out;
    position: relative; 
    z-index: -1; 
    left: 24vw;
}

#mellem{
    position: relative;
    transition: all 1s ease-in-out;
    bottom: 200px;
}

#far{
    position: relative;
    transition: all 1s ease-in-out;
    right: 20vw;
    bottom: 12vh;
}

#infogram-mennesker{
    position: relative;
    transition: all 1s ease-in-out;
    height: 839;
    width: 550;
    overflow: hidden;
}

#Henrik{
    position: relative;
    transition: all 1s ease-in-out;
    clip-path: ellipse(43% 30% at 51% 35%);
    height: 400px;
    width: 300px;
}

#fiske{
    position: relative;
    transition: all 1s ease-in-out;
    height: 80vh;
    bottom: 50px;
    left: 40vw;
}

#fanget{
    position: relative; 
    transition: all 1s ease-in-out;
    height: 100vh; 
    bottom: 50px; 
    right:15vw;
}

#smaat{
    position: relative; 
    transition: all 1s ease-in-out;
    height: 70vh; 
    left:17vw;
    z-index: -1;
}

#bonus{
    position: relative; 
    transition: all 1s ease-in-out;
    height: 70vh; 
    left:45vw;
    z-index: -1;
}

#okonomi{
    position: relative; 
    transition: all 1s ease-in-out;
    height: 70vh; 
    left:15vw;
    bottom: 5vh;
}

#kr4000{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 70vh; 
    right: 17vw;
    bottom: 15vh;
}

#bliverved{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 60vh; 
    left: 20vw;
}

#megettabt{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 90vh; 
    left: 40vw;
    bottom: 10vh;
}

#grine{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 70vh; 
    left: 40vw;
    bottom: 10vh;
}

#detmed{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 70vh; 
    left: 20vw;
    bottom: 10vh;
}

#reelt{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 50vh; 
    left: 45vw;
    bottom: 10vh;
}

#impuls{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 80vh; 
    right: 17vw;
    bottom: 10vh;
}

#ende{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 40vh; 
    left: 22vw;
}

#vadde{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 60vh; 
    right: 17vw;
    bottom: 10vh;
}

#skolen{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 60vh; 
    left: 10vw;
    bottom: 5vh;
}

#quitter{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 70vh; 
    left: 38vw;
    bottom: 10vh;
}

#jagte{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 60vh; 
    right: 15vw;
    bottom: 10vh;
}

#rof{
    position: relative; 
    transition: all 1s ease-in-out;
    z-index: -1;
    height: 40vh; 
    left: 30vw;
}




/*skrabelod*/
#scratch {
	display: flex;
    transition: all 1s ease-in-out;
    background-image: url('/img/skrabelod/skrabelodaldersgrænse.png');
	background-size: contain;
    cursor: crosshair;
    cursor: url('http://jennamolby.com/scratch-and-win/images/coin1.png') 15 15, crosshair;
    box-shadow: 10px 10px;
}
#scratch2 {
	display: flex;
    transition: all 1s ease-in-out;
    background-image: url('/img/skrabelod/skrabelodb&u.png');
	background-size: contain;
    cursor: crosshair;
    cursor: url('http://jennamolby.com/scratch-and-win/images/coin1.png') 15 15, crosshair;
    box-shadow: 10px 10px;
}

#scratch3 {
	display: flex;
    transition: all 1s ease-in-out;
    background-image: url('/img/skrabelod/skrabelodmen.png');
	background-size: contain;
    cursor: crosshair;
    cursor: url('http://jennamolby.com/scratch-and-win/images/coin1.png') 15 15, crosshair;
    box-shadow: 10px 10px;
}
#cardContainer { 
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
}

/*ID'S*/
#progress-bar {
    /*CSS property*/
    --scrollAmount: 0%;

    background: linear-gradient(90deg, rgba(121, 33, 9, 0) 0%, #fc2a2a 85%, #f50909 97%);
    width: var(--scrollAmount);
    height: 20px;
    position: fixed;
    top: 0;
    z-index: 10;
}

#progress-bar2{
    --scrollAmountpx: 0px;
    position: fixed;
    transform: translate(var(--scrollAmountpx), -5px);
}
#progress-bar3{
    position: fixed;
    --scrollAmountDegree: 0deg;
    height: 30px;
    transform: rotate(var(--scrollAmountDegree));
}

/*Quiz*/
.content-table {
    color: black;
    display: table-row;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    height: auto;
    line-height: 38px;
    text-shadow: #0e3058;
    background-color: floralwhite;
    border-spacing: 0;
    align-items: center;
}
.headerDetailQuiz {
    background-color: lightgreen;
    border-top: 1px solid #008754;
    border-bottom: 1px solid #00603c;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 20%);
    vertical-align: inherit;
    table-layout: fixed;
    width: 800px;
}

thead, tbody tr{
    display: table;
    width: 400px;
    text-align: center;
    padding: 10px 5px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 800px;
}   
.quizinsideborder{
    border-right: 1px solid #a9a9a9;
}

#rightAnswer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Spinner{
   display: flex 1;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   width: 130px;
}
#cherrypic1, #cherrypic2, #cherrypic3{
    display: flex 1;
    align-items: center;
    margin-top: -20px;
    width: 130px;
}

#buttonQuiz{ /*knap til første quiz*/
    width: 200px;
    height: 200px;
    position: relative; /*ikke smart*/
    left: 450px;
    top: -250px;
}
#buttonQuiz2{ /*knap til anden quiz*/
    width: 200px;
    height: 200px;
    position: relative; /*ikke smart*/
    left: 450px;
    top: -180px;
}
#buttonQuiz3{ /*knap til tredje quiz*/
    width: 200px;
    height: 200px;
    position: relative; /*ikke smart*/
    left: 450px;
    top: -180px;  
}

/*Dialog boksene*/
.hidden2 {    
    min-height: 10vh;
    padding-inline-start: 5px;
    padding-bottom: 2px;
    line-height: 1.2;
}

.hidden1 {
    opacity: 1;
    filter: blur(5px);
    /*Hvor langt ude billedet starter*/
    transform: translateX(100%);
    /*fade in animation tid*/
    transition: all 2s;
}

.hidden2 {
    opacity: 1;
    filter: blur(5px);
    /*Hvor langt ude billedet starter*/
    transform: translateX(-100%);
    /*fade in animation tid*/
    transition: all 2s;
}

.show1 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(40%);
}
.show2 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-40%);
}

.parallax{
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.parallax2{
    height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    background-position: center -300px;
    background-repeat: no-repeat;
    background-size: cover !important;
}

/* curtain gif */
curtains {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.ROFUS{
    line-height:25px;
    font-size:20px;
    color: whitesmoke;
    background: #00603dc2;
    margin:10px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
}


billedePara {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/pcBonanza.jpg) !important;

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

quote {
    text-shadow: 4px 4px #000000;
    text-align: center;
    font-style: oblique;
}

.highlight {
    color: rgb(0, 0, 0); 
    text-shadow: 1px 1px #000000;
    padding: 2px;   
    border-radius: 3px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-style: italic;
}